<b>Dear {{ user['username'] }}:</b>
    <p>Thank you login management systems, please click on the following link to log in.</p>
<br/>
<p>=================================================================================</p>

<p>Please click it <a href="{{ user['url'] }}">{{ user['url'] }}</a></p>

<p>=================================================================================</p>