{% extends "TarsierAdminBundle::layout.html.twig" %}

{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Friend Link Edit</h3>
        </div>
        {{ form(save_form) }}
    </div>
{% endblock %}
{% block private_js %}

{% endblock %}