<!DOCTYPE html>
<html lang="zh-CN"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>KumaCore|熊心</title>
    {% block global_css %}
        <!-- Bootstrap -->
        {#要使用stylesheets标签，必须在config.yml的assetic下的bundles里面添加你的bundles#}
        {% stylesheets
        '@TarsierHomeBundle/Resources/public/css/bootstrap.min.css'
        '@TarsierHomeBundle/Resources/public/css/admin_style.css'
        %}
        <link href="{{ asset_url }}" rel="stylesheet">
        {% endstylesheets %}
        <!-- <link href="css/flat-ui.css" rel="stylesheet"> -->
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
</head>

<body class="login-body">

<div class="container">
    <h2 class="form-signin-heading t_c">Please sign in</h2>
    {{ form(login_form) }}
</div> <!-- /container -->
{% block global_js %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    {% javascripts
    '@TarsierHomeBundle/Resources/public/js/bootstrap.min.js'
    '@TarsierHomeBundle/Resources/public/js/jquery.newsTicker.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block private_js %}

    <script type="application/javascript">

        $(document).ready(function(){
            html='<ul class="nav nav-tabs nav-justified"><li role="presentation" class="active"><a href="javascript:void(0);" onclick="chooseCaptcha(0,this);">Weixin Login</a></li><li role="presentation"><a href="javascript:void(0);" onclick="chooseCaptcha(1,this);">Email Login</a></li> </ul>'
            html+="<div><img id='captcha_img' src='"+"{{ captcha_img }}"+"' /><a id='sendMail' target='_blank' style='display: none;' href='/admin/sendmail/type/captcha'><button type='button' name='sendMail' class='btn btn-lg btn-primary btn-block form-save-btn input-signin'>sendMail</button></a></div>";

            $('#form_captcha').closest('div').before(html);

        })

        var STOP_SECOND=3000;

        var timer_count=0;
        var timer_stop;


        function scanningLogin() {
            $.ajax({
                type: "GET",
                url: "/admin/scanningLogin",
                data: {},
                dataType: "json",
                success: function(data){
                    timer_count++;
                    if(timer_count<=STOP_SECOND){

                        if(data.status==404){
                            timer_stop=setTimeout(scanningLogin(),1000);
                        }else{
                            $('#form_captcha').val(data.captcha)
                            $('#form-signin').submit();
                        }
                    }else{
                        $('#captcha_img').parent('div').append("<label>Sorry,It's time out</label>");
                        $('#captcha_img').remove();
                        clearTimeout(timer_stop);
                    }
                }
            });
        }

        $(document).ready(function(){
            scanningLogin();
        });

        function chooseCaptcha(type,o){
            $(o).closest('li').siblings().removeClass('active');
            $(o).closest('li').addClass('active');
            if(parseInt(type)==0){
                $('#captcha_img').siblings().hide();
                $('#captcha_img').show();
            }else{
                $('#sendMail').siblings().hide();
                $('#sendMail').show();
            }
        }

    </script>

{% endblock %}
</body>
</html>